:root {
	--vp-c-brand-1: hsla(270, 50%, 60%, 1);
	--vp-c-brand-2: hsla(270, 50%, 70%, 1);
	--vp-c-brand-3: hsla(270, 50%, 80%, 1);
	--vp-c-brand-soft: hsla(270, 50%, 85%, 1);
}

.dark {
	--vp-c-bg: hsla(270, 20%, 15%, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.vp-doc th {
	background: var(--vp-c-bg-soft-down);
}

.vp-doc td {
	background: var(--vp-c-bg-soft);
}
